
/*发布按钮*/
.Release-link {
    margin: 12px 15px 0 0;
}

/*导航-搜索*/
.My-search {
    margin: 12px -15px 0 0;
}

.My-search .form-group {
    float: left;
}

.My-search .form-control {
    border-radius: 0;
}

.My-search .btn-default {
    border-radius: 0;
    background: #de5c57;
    border: none;
    color: #fff;
    padding: 7px 12px;
}

#example-navbar-collapse .Release-link a {
    color: #fff;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #cb524f;
}
#nav-focus>li>a{
    color: #cb524f;
}
#nav-focus>li>a:focus{
    color: grey;
}